{% extends "base.html" %}
{% load static %}
{% block title %}登陆{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
{% endblock %}
{% block content %}
<div class="container">
	<section id="content">
		<form action="login" method="post">
			{% csrf_token %}
			<h1>用户登录</h1>
			{% if message %}
                <div class="alert alert-warning">{{ message }}</div>
                <br/>
            {% endif %}
            <div>
			  {{ login_form.username}}
			</div>
			<div>
			  {{ login_form.phone }}
			</div>
			<div class="">
				<span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>
			</div> 
			<div>
				<!-- <input type="submit" value="Log in" /> -->
				<input type="submit" value="登录" class="btn btn-primary" id="js-btn-login"/>
				<!-- <a href="#">Register</a> -->
			</div>
		</form><!-- form -->
	</section><!-- content -->
</div>
{% endblock %}