{% extends "base.html" %}
{% load static %}
{% block content %}
    <div style="text-align:center">
        <table class="table"> 
            <tr>
                <th>报名活动</th>
                <th>姓名</th>
                <th>状态</th>
                <th>确认参加</th>
            </tr>
            {% for detail in details %}
            <tr>
                <td>{{detail.article}}</td>
                <td>{{detail.name}}</td>
                <td>{{detail.state}}</td>
                <td>
                {% if detail.id %}
                    <form action="affirm" method="post">
                        <p hidden><input type="text" name="affirm_id" placeholder="用户名" value={{detail.id}} /></p>
                        <input type="submit" id="affirm" value='确认参加'>
                    </form>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <p style="color: red;text-align:left;">说明：您的状态为“已发送邀请”时，确认参加一栏将会出现确认按钮，请及时确认（确认时间一般为活动前一天的16:00之前）;状态为“报名成功”时说明您已经成功报名</p>

{% endblock %}   
