{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/guestbook.css' %}"/>
{% endblock %}
{% block content %}
<div class="posts">
    <section class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{% url 'detail' id=post.id %}"
                                      style="text-decoration: none">{{ post.title }}</a></h2>
            <p class="post-meta">
	<a href="{% url 'category_menu' id=post.category_id %}" style="text-decoration: none">{{ post.category }}</a>&nbsp;&nbsp;
               <br>
	 开始时间:<i aria-hidden="true"></i>&nbsp; {{ post.pub_time|date:'Y-m-d H:i' }}&nbsp;&nbsp;
	<br>
	活动地点：{% for tag in tags %}
                    <a>{{ tag }}</a>
                {% endfor %}
            </p>
        </header>

        <div class="post-description">
            <p>
                {{ post.content |safe }}
            </p>
        </div>
        <div style="text-align:right;">
            <input class="button green" type="button" value="报名" id="apply"/>
        </div>
    </section>
</div><!-- /.blog-post -->
<br/>
<div class="posts">
    <section class="post">
        <div class="form">
            <div class="">
                <textarea name="content" placeholder="既然来了，就说几句" class="layui-textarea" id="content"></textarea>
            </div>
            <div class="" style="text-align: right;">
                <input type="button" class="button-message" id="message">
            </div>
        </div>
        <div class="volume">
            全部留言 <span>{{count}}</span>
        </div>        
        <div>
            {% if messages %}
                {% for message in messages %}
                <div class="repeat-list">
                    <p class="tit"><span class="name">{{ message.user }}</span>：<span>{{ message.content }}</span></p>
                    <p class="data">{{ message.c_time|date:'m月d日 H:i' }}</p>
                </div>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="4">无数据</td>
            </tr>
            {% endif %}
        </div>
    </section>
</div>

    <!-- 上下篇文章切换 -->
    <div>
        {% if prev_post %}
            <a class="footer" href="{% url 'detail' id=prev_post.id %}" style="text-decoration: none; float: left;">
                <i class="fa fa-angle-left"></i>&nbsp;&nbsp;上一篇：{{ prev_post.title }}
            </a>
        {% endif %}
        {% if next_post %}
            <a class="footer" href="{% url 'detail' id=next_post.id %}" style="text-decoration: none; float: right;">
                下一篇：{{ next_post.title }}&nbsp;&nbsp;
                <i class="fa fa-angle-right"></i>
            </a>
        {% endif %}
    </div>

    <script>
        $('input#apply').click(function(){
            var str = location.href;
            var num = str.substr(-2,1);
            $.ajax({
                url:"/save",
                type:"POST",
                data:{
                    "id":num,
                    "csrfmiddlewaretoken":$('[name="csrfmiddlewaretoken"]').val()
                },

                success:function (data) {
                    if(data.status == 'success'){
                        alert("报名成功，最终报名结果将以邮件形式通知，请注意查收并根据邮件提示进行确认，过期未确认将自动视为活动弃权。谢谢！！！");
                        window.location.reload();//刷新当前页面.
                    }else if(data.status == 'fail'){
                        alert("此活动您已报名，请勿重复报名！！！");
                    }else if(data.status == 'login'){
                        alert("若要报名请先登录程序！！！");
                    }
                }
            })
        });
    </script>

    <script>
        $('input#message').click(function(){
            var content = $("#content").val();
            var str = location.href;
            var num = str.substr(-2,1);
            if (content == '') {
                alert("请输入留言内容！");
                    return false;
            }

            $.ajax({
                url:"/guestbook/message_save/",
                type:"POST",
                data:{
                    "content":content,
                    "id":num,
                    "csrfmiddlewaretoken":$('[name="csrfmiddlewaretoken"]').val()
                },

                success:function (data) {
                    if(data.status == 'success'){
                        window.location.reload();//刷新当前页面.
                    }else if(data.status == 'fail'){
                        alert("请先登录程序再留言！！！");
                    }
                }
            })
        });
    </script>

{% endblock %}
