{% extends "base.html" %}
{% block content %}
    <div class="posts">
        <section class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="{% url 'detail' id=post.id %}"
                                          style="text-decoration: none">{{ post.title }}</a></h2>
                <p class="post-meta">
		<a href="{% url 'category_menu' id=post.category_id %}" style="text-decoration: none">{{ post.category }}</a>&nbsp;&nbsp;
                   <br>
		 开始时间:<i aria-hidden="true"></i>&nbsp; {{ post.pub_time|date:'Y-m-d H:i' }}&nbsp;&nbsp;
		<br>
		活动地点：{% for tag in tags %}
                        <a>{{ tag }}</a>
                    {% endfor %}
                </p>
            </header>

            <div class="post-description">
                <p>
                    {{ post.content |safe }}
                </p>
            </div>
        </section>
    </div><!-- /.blog-post -->
    <!-- 报名 -->
    <div style="text-align:center">
        <form>
            {% csrf_token %}
            <div><label for="user">姓&emsp;名：</label><input type="text" id="user" placeholder="姓名" required="required"/></div>
            <div class="div_jl"><label for="age">年&emsp;龄：</label><input type="text" id="age" placeholder="年龄" required="required"/></div>
            <div class="div_jl"><label for="email">邮&emsp;箱：</label><input id="email" type="text" id="email" placeholder="邮箱" required="required"/></div>
            <div class="div_jl"><label for="phone">手机号：</label><input id="phone" type="text" id="phone" placeholder="手机号" required="required"/></div>
            <div class="div_jl"><input type="button" value="报名" id="apply"/></div>
        </form>
    </div>
    <!-- 上下篇文章切换 -->
    <div>
        {% if prev_post %}
            <a class="footer" href="{% url 'detail' id=prev_post.id %}" style="text-decoration: none; float: left;">
                <i class="fa fa-angle-left"></i>&nbsp;&nbsp;上一篇：{{ prev_post.title }}
            </a>
        {% endif %}
        {% if next_post %}
            <a class="footer" href="{% url 'detail' id=next_post.id %}" style="text-decoration: none; float: right;">
                下一篇：{{ next_post.title }}&nbsp;&nbsp;
                <i class="fa fa-angle-right"></i>
            </a>
        {% endif %}
    </div>

    <script>

        $('input#apply').click(function(){
            var str = location.href;
            var num = str.substr(-2,1);
            var phone = $("#phone").val();
            var email = $("#email").val();
            var user = $("#user").val();
            var age = $("#age").val();
            if (user == ''){
                alert("请输入姓名");
                return false;
            }
            else{
                if (age == ''){
                    alert("请输入年龄");
                    return false;
                }
                else{
                    if (email == ''){
                        alert("请输入您的邮箱地址");
                        return false;
                    }
                    else{
                        if (phone == ''){
                            alert("请输入手机号");
                            return false;
                        }
                    }
                }
            }
            $.ajax({
                url:"/save",
                type:"POST",
                data:{
                    "user":$("#user").val(),
                    "age":$("#age").val(),
                    "phone":$("#phone").val(),
                    "email":$("#email").val(),
                    "id":num,
                    "csrfmiddlewaretoken":$('[name="csrfmiddlewaretoken"]').val()
                },

                success:function (data) {
                    if(data.status == 'success'){
                        alert("报名成功，最终报名结果将以邮件形式通知，请注意查收并根据邮件提示进行确认，过期未确认将自动视为活动弃权。谢谢！！！");
                        window.location.reload();//刷新当前页面.
                    }else if(data.status == 'fail'){
                        alert("失败！此活动您已报名，请勿重复报名！！！");
                    }
                }
            })
        });
    </script>

{% endblock %}
